<p>Test Component!</p>

<p><strong>String Interpolation </strong>: {{title}}</p>
<p><strong>String Interpolation with invoking a method : </strong>  {{TestFunction("TEST")}}</p>
<hr>

<p><strong>Two Way Binding</strong></p>
<input type="text" [(ngModel)]="componentValue1">
<br><br>
<input type="text" [(ngModel)]="componentValue2">
<br><br>
<hr>
<p><strong>Component to Component Data Transfer</strong></p>
<app-second-component [inputValue] = "componentValue1" [inputValue2]="componentValue2"></app-second-component>
<hr>
<p><strong>Roting using Path and Route Link</strong></p>
<br><button routerLink='../second-component'>Click for second component</button>
<br><button [routerLink]="['../life-cycle-component']">Click for Life Cycle component</button>
<br><button [routerLink]="['../structural-directives-component']">Click for Structural Directive component</button>
<br><button [routerLink]="['../attribute-directives-component']">Click for Attribute Directive component</button>
<br><button [routerLink]="['../output-emit-component']">Click for Output Emit Component</button>
<br><button [routerLink]="['../crud-using-http-component']">Click for Crud Using Http Component</button>
