
<p><strong>Roting using Path and Route Link</strong></p>
<br><button routerLink='../data-binding-component'>Click for Data Binding component</button>
<br><button routerLink='../passing-data'>Click for passing-data component</button>
<br><button [routerLink]="['../life-cycle-component']">Click for Life Cycle component</button>
<br><button [routerLink]="['../structural-directives-component']">Click for Structural Directive component</button>
<br><button [routerLink]="['../attribute-directives-component']">Click for Attribute Directive component</button>
<br><button [routerLink]="['../output-emit-component']">Click for Output Emit Component</button>
<br><button [routerLink]="['../crud-using-http-component']">Click for Crud Using Http Component</button>
<br><button [routerLink]="['../form-builder']">Click for Form Builder Component</button>
