<p><strong>Property Binding</strong></p>
<button (click)="AddToTestArray(PropertyBindingArray)">Add Inputs using property binding</button>

<div [hidden]="isArrayEmpty()">
    <p>List of Inputs :</p>
    <ul *ngFor = "let data of PropertyBindingArray">
        <li>{{data}}</li>
    </ul>
</div>

<p [hidden]="!isArrayEmpty()">Array is empty! click add</p>


<br><br>
<hr>
<p><strong>If - Else</strong></p>
<button (click)="AddToTestArray(IfElseArray)">Add Inputs using If Else</button>
<br><br>
<div *ngIf = "IfElseArray.length>0; else ArrayEmpty">
    <p>List of Inputs :</p>
    <ul *ngFor = "let data of IfElseArray">
        <li>{{data}}</li>
    </ul>
</div>
<ng-template #ArrayEmpty>Array is empty! click add</ng-template>



<br><br>
<br><button (click)="ClearArrayInputs()">Clear Inputs</button>
<br><br>
<hr>
<p><strong>Switch Case</strong></p>

<button (click)="SwitchCaseValue='Countries'">View Countries Name</button>
<button (click)="SwitchCaseValue='States'">View States Name</button>
<button  (click)="SwitchCaseValue='Games'">View Sports Name</button>

<div [ngSwitch] = "SwitchCaseValue">
    <div *ngSwitchCase="'Countries'">
        <ul *ngFor="let item of Countries">
            <li>{{item}}</li>
        </ul>
    </div>
    <div *ngSwitchCase="'States'">
        <ul *ngFor="let item of States">
            <li>{{item}}</li>
        </ul>
    </div>
    <div *ngSwitchCase="'Games'">
        <ul *ngFor="let item of Games">
            <li>{{item}}</li>
        </ul>
    </div>
</div>
<br><br>
<button [routerLink]="['']">Go Back</button>
