<div class="container col-6">
<p>form-builder works!</p>
<form [formGroup] = "RegistrationForm">
  <div class="form-group">
    <label for="Name">Name</label><br>
    <input class="form-control" type="text" formControlName="Name" placeholder="enter your name" />
    <div *ngIf="!Name?.valid && Name?.touched ">
        <span [hidden]="!Name?.errors?.['required']">Name is Required</span >   
        <span [hidden]="!Name?.errors?.['minlength' ]">Name is too short</span >   
        <span [hidden]="!Name?.errors?.['pattern' ] ">Name must have only alphabets</span >   
        <!-- <span [hidden]="!Name?.errors?.['usernameNotValid' ]">Custom validation works</span >    -->
    </div>
  </div>
  <div class="form-group">
    <label for="Email">Email</label><br>
    <input class="form-control" type="email" formControlName="Email" placeholder="enter your email" />
  </div>
  <div class="form-group">
    <label for="Password">Password</label><br>
    <input class="form-control" type="password" formControlName="Password" placeholder="enter your password" />
    <div class="text-danger" *ngIf="!Password?.valid && Password?.touched ">
        <span [hidden]="!Password?.errors?.['required']">Password is Required</span >   
        <span [hidden]="!Password?.errors?.['minlength' ]">Password is too short</span >   
        <span [hidden]="!Password?.errors?.['pattern' ] ">Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</span >           
    </div>
  </div>
  <div class="form-group">
    <label for="Department">Department</label><br>
    <select class="form-control" name="" formControlName="Department">
        <option value=".NET">.NET</option>
        <option value="EBA">EBA</option>
        <option value="JAVA">JAVA</option>
    </select>
  </div>
  <div class="form-group">
    <label for="PhoneNumber">Phone Number</label><br>
    <input class="form-control" type="tel" formControlName="PhoneNumber" placeholder="enter your mobile number" />
  </div>
  <div class="form-group">
    <label for="DateOfBirth">Date of Birth</label><br>
    <input class="form-control" type="date" formControlName="DateOfBirth"  />
  </div>
  <div class="form-group">
    <input  type="checkbox" formControlName="isChecked" />
    <label for="isChecked"> "Check this before you submit"</label><br>    
    <div *ngIf=""></div>
  </div>
    <div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</div>
<br>
</form>
{{RegistrationForm.value | json}}
<br>
<p>is form valid : {{RegistrationForm.valid}} </p>
<br><button [routerLink]="['']">Go Back</button>
</div>class="form-control" 